/************************************************/
/*      calendar                                */
/************************************************/

div.sakura_calendar
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    background-color: white;
    z-index: 200;
}

table.sakura_calendar
{
    border-spacing: 0px !important;
    border-collapse: collapse !important;
    border-left: 1px solid #DBE3F0 !important;
    border-right: 1px solid #DBE3F0 !important;
    border-bottom: 1px solid #DBE3F0 !important;
}

table.sakura_calendar tr
{
    margin: 0px !important;
    padding: 0px !important;
}

table.sakura_calendar tr td
{
    margin: 0px !important;
    padding: 2px 4px !important;
    text-align: center !important;    
}

table.sakura_calendar tr.header, table.sakura_calendar tr.weekdays {
    background-color: #DBE3F0;
}

table.sakura_calendar tr.header td.header_month_iterator
{
    cursor: pointer;
}

table.sakura_calendar tr.header span.header_year, table.sakura_calendar tr.header span.header_month
{
    cursor: pointer;
    padding: 0px 4px;
}

table.sakura_calendar tr.weekdays td
{
    cursor: default !important;
    font-size: 11px !important;
    width: 16px !important;
}

table.sakura_calendar tr.week td
{
    cursor: pointer !important;
    font-size: 11px !important;
}

table.sakura_calendar tr.week td.this_month
{
    color: black !important;
}

table.sakura_calendar tr.week td.this_month_date
{
    color: black !important;
    background-color: LightGrey !important;
}

table.sakura_calendar tr.week td.region_date
{
    background-color: #FBFFCE !important;
}

table.sakura_calendar tr.week td.this_month_date_weekend
{
    color: black !important;
    background-color: #a7c3db !important;
}

table.sakura_calendar tr.week td.other_month
{
    color: gray !important;
}

table.sakura_calendar tr.week td.weekend
{
    background-color: #F3F8FF !important;
}

table.sakura_calendar tr.time {
    background-color: #DBE3F0 !important;
}

table.sakura_calendar tr.time td.time input{
    border:1px solid #F3F8FF !important;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 11px !important;
    width: 30px !important;
}

table.sakura_calendar tr.time td.time select{
    border:1px solid #F3F8FF !important;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 11px !important;
    margin-left: 2px !important;
}

table.sakura_calendar tr.time a{
    color:black !important;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 11px !important;
}
